{% extends 'owner/base.html' %}
{% block content %}
{% csrf_token %}

<div class="container mt-5">
    <div class="text-center mt-5">
        <h2 class="mb-4">Registration Form</h2>
        <div class="alert alert-success">
            <p class="mb-0">Registered Successfully!</p>
        </div>
        <p class="lead mt-3">
        Now go to the <a class="primary" href="/login/">Login Page</a> and login!
        </p>
    </div>
    <div class="text-center mt-3">
        <a href="/" class="btn btn-secondary">Home</a>
    </div>
</div>

{% endblock %}
