{% extends 'customer/base.html' %}

{% block content %}
<section id="about-section">
    <h1>About Us</h1>
    <p>We are CarQuest, your premier destination for car rentals.</p>
    <p>Our mission is to provide convenient and reliable car rental services to our customers.</p>
    <h2>Sustainability Initiatives</h2>
    <p>At CarQuest, we are committed to reducing our environmental impact. Here are some of the sustainability initiatives we've implemented:</p>
    <ul>
        <li>Transitionfleet to electric and hybrid vehicles</li>
        <li>Implementing eco-friendly cleaning products and practices</li>
        <li>Offsetting cissions through tree plaitiatives</li>
        <li>Promoting carpooling and ride-sharing options for customers</li>
    </ul>
</section>
{% endblock %}

